.player_info_card {
  display: flex;
  width: 15vw;
  height: 25vh;
  max-width: 150px;
  max-height: 180px;
  flex-direction: column;
}

.controlContainer {
  display: flex;
  justify-content: center;
}

.name {
  display: flex;
  text-align: center;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: bold;
}

.hole_cards {
  display: flex;
  justify-content: space-evenly;
}

.chip {
  display: grid;
  grid-template-columns: 1fr 1fr;  /* Two equal-width columns */
  gap: 10px;  /* Gap between grid items */
}