.player_info_card {
  display: flex;
  width: 18vw;
  height: 25vh;
  max-width: 180px;
  max-height: 250px;
  flex-direction: column;
}

.controlContainer {
  display: flex;
  justify-content: center;
}

.name {
  display: flex;
  text-align: center;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: bold;
}

.hole_cards {
  display: flex;
  justify-content: space-evenly;
}

.hole_card {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  /* object-fit: contain; */
}

.chip {
  display: grid;
  grid-template-columns: 1fr 1fr;  /* Two equal-width columns */
  gap: 10px;  /* Gap between grid items */
}